<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Welcome to the home page</h1>
    <div class="container">
        <form action="">
            <div class="mb-3">
                <label for="searchMovie" class="form-label">
                    Search for movie:
                </label>
                <input type="text" class="form-control" name="searchMovie">
            </div>
            <button type="submit" class="btn btn-primary">Search</button>
        </form>
        <p>Searching for {{ searchTerm }}</p>
        {% if movies %}
            <ul>
                {% for movie in movies %}
                    <h2>{{ movie.title }}</h2>
                    <h3>{{ movie.description }}</h3>
                    <img src="{{ movie.image.url }}">
                    {% if movie.url %}
                        <a href="{{ movie.url }}">Movie link</a>
                    {% endif %}
                {% endfor %}
            </ul>
        {% else %}
            <p>No movies found</p>
        {% endif %}
    </div>
    <a href="/about">Go to about</a>
</body>
</html>